

<form method='POST' action=''>
    {{items.form_build_id}}
    {{items.form_id}}
    {{items.form_token}}

    <div class="form">{{items.name}}</div>
    <div class="form">{{items.employeeNum}}</div>
    <div class="form">{{items.dateofbirth}}</div>
    <div class="form">{{items.email}}</div>
    <div class="form">{{items.location}}</div>
    <div class="form">{{items.file_upload}}</div>
    <div class="form">{{items.save}}</div>
</form>

